<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <audio src="https://www.deezer.com/track/78304463" controls></audio>
    <button onclick="search('starboy')">search</button>
    <script>
        async function search(songName){
            const request = await fetch(`/search/?songName=starboy`);
            const response = await request.json();
            console.log(response)

        }
    </script>
</body>
</html>